.pais-card{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    padding: 10px;
    border: 1px black solid;
    margin: 10px auto;
}

.pais-detalhe-card{
    padding: 10px;
    border: 1px black solid;
    width: 50%;
    margin: 0 auto;
}

.pais-detalhe{
    width: 100%;
}

.fechar-detalhe{
    padding: 10px;
    border: 1px black solid;
    width: 50px;
    margin-top: 10px;
}


.titulo{
    text-align: center;
}